In [2]:
import pandas as pd
from io import StringIO


csv_txt = '''"date","player1","player2","score1","score2"
"2017-06-05","张继科","林思远",3,2
"2017-06-06","丁宁","刘思文",3,0
"2017-06-07","马琳","樊振东",2,3
"2017-06-08","张燕","丁宁",0,3
"2017-06-09","张继科","马琳",3,2
"2017-06-10","刘思文","张燕",4,1
"2017-06-11","马琳","林思远",3,2
'''

df1 = pd.read_csv(StringIO(csv_txt), header=0, index_col="date") # 以date作为index
df2 = pd.read_csv(StringIO(csv_txt), header=0) # 默认 index
# 列转为索引
df2.set_index('date', inplace=True) # column 改为 index

将index还原为列

In [3]:
df2.reset_index() # （all）index 改为 column

         date player1 player2  score1  score2
0  2017-06-05     张继科     林思远       3       2
1  2017-06-06      丁宁     刘思文       3       0
2  2017-06-07      马琳     樊振东       2       3
3  2017-06-08      张燕      丁宁       0       3
4  2017-06-09     张继科      马琳       3       2
5  2017-06-10     刘思文      张燕       4       1
6  2017-06-11      马琳     林思远       3       2

In [6]:
# 重命名列名
df2.rename(columns={'player1': '选手1', 'player2': '选手2'})

            选手1  选手2  score1  score2
date
2017-06-05  张继科  林思远       3       2
2017-06-06   丁宁  刘思文       3       0
2017-06-07   马琳  樊振东       2       3
2017-06-08   张燕   丁宁       0       3
2017-06-09  张继科   马琳       3       2
2017-06-10  刘思文   张燕       4       1
2017-06-11   马琳  林思远       3       2